/* Global */
* {
    /* margin: 0; */
    /* padding: 0; */
    box-sizing: border-box;
    font-family: 'Calibri', 'Tahoma', 'sans-serif'
    
}

h3 {
    background-color: #F4EAE9;
    color: black;
    
}


body {
    padding: 1px;
}

/* Header */
header {
    background-color: #F4EAE9;
    position: fixed;
    width: 100%;
    height: 75px;
    left: 0;
    top: 0;
    z-index: 2;
}

#header-1 {
    position: relative;
    left: 20px;

}

ul {
    list-style-type: none;
    overflow: hidden;
    position: absolute;
    top: 10px;
    left: 70%;
}

li {
    display: inline;
    float: right;
    padding-right: 15px;
}

a {
    padding: 15px;
    background-color: #F4EAE9;
}

a:hover, a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:visited {
    color: black;
}

/* About Me Section */
#about-me-header {
    padding-top: 90px;
    padding-left: 250px;
}

.about-me {
    text-align: left;
}

.about-paragraph {
    padding-right: 200px;
    
}

#self-photo {
    max-width: 20%;
    height: auto;
    padding-top: 65px;
}

/* .line-design {
    border: 2px solid #F4EAE9;
    
} */

/* Work / Projects Section */
.work-projects {
    padding-left: 5%;
    padding-top: 20px;
}

.work-image {
    display: block;
    max-width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/* Contact Section */
.contact-me {
    background-color: #F4EAE9;
    padding-left: 5%;
    padding-top: 1%;
}

.contact-paragraph {
    text-align: center;
    color: white;
}

/* Footer */
.footer {
    text-align: center;
    background-color :#F4EAE9;
    position: absolute;
    /* bottom: 0; */
    width: 100%;
    left: 0;
}