/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Calibri', 'Tahoma', 'sans-serif'
}

/* Header */
header {
    text-align: center;
    background-color: #F4EAE9;
    height: 75px;
}

h1 {
    padding: 10px;
    margin: 0;
}

/* Navigational Menu */
nav {
    display: flex;
}


a {
    padding: 15px;
    background-color: #F4EAE9;
    text-align: center;
    width: 100%;
}

a:hover, a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:visited {
    color: black;
}

/* Aside - About Me Section */
aside {
    flex: 1;
    background-color: #F4EAE9;
    text-align: center;
    padding: 20px;
}

.self-photo {
    /* max-width: 200px;
    min-width: 50px;
    flex: 1 1 200px; */
}

/* .about-header {
    flex-direction: column;
    flex: 2 ;
}

.about-paragraph {
    flex-direction: column;
    flex: 3 ;
} */

/* Main Section */
main {
    display: flex;
    flex-wrap: wrap;
}

.work-image {

}

/* Footer */
.footer {
   text-align: center;
   background-color :#F4EAE9;
   height: 20px;
   width: 100%;
   bottom: 0;
   
}

@media screen and (max-width: 768px) {
    .header, nav {
      flex-direction: column;
    }
  }